{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header card-header-custom text-white d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Editar Dados do Cliente</h5>
      <a href="{% url 'lista_clientes' %}" class="btn btn-custom">← Voltar</a>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label" for="{{ form.nome.id_for_label }}">Nome</label>
            {{ form.nome }}
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label" for="{{ form.cpf_cnpj.id_for_label }}">CNPJ</label>
            {{ form.cpf_cnpj }}
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label" for="{{ form.endereco.id_for_label }}">Endereço</label>
            {{ form.endereco }}
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label" for="{{ form.telefone.id_for_label }}">Telefone</label>
            {{ form.telefone }}
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label" for="{{ form.email.id_for_label }}">E-mail</label>
            {{ form.email }}
          </div>
        </div>

        <div class="text-end">
          <button type="submit" class="btn btn-custom">Salvar alterações</button>
        </div>
      </form>
      <hr>
      <h5>Contratos do Cliente</h5>

      {% if contratos %}
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>Número</th>
            <th>Coordenador</th>
            <th>Data de Início</th>
            <th>Data de Fim</th>
            <th>Valor</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for contrato in contratos %}
            <tr>
              <td>{{ contrato.cod_projeto }}</td>
              <td>{{ contrato.coordenador }}</td>
              <td>{{ contrato.data_inicio|date:"d/m/Y" }}</td>
              <td>{{ contrato.data_fim|date:"d/m/Y" }}</td>
              <td>R$ {{ contrato.valor_total|floatformat:2 }}</td>
              <td>
                <a href="{% url 'contrato_cliente_detalhe' contrato.pk %}" class="btn btn-sm btn-outline-primary">
                  Ver Detalhes
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="text-muted">Nenhum contrato cadastrado para este cliente.</p>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
