<form id="formEditarBM" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
</form>

<div class="mt-3 d-flex justify-content-end gap-2">
    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button class="btn btn-success" id="btnSalvarBM">Salvar</button>
</div>

<script>
document.getElementById("btnSalvarBM").addEventListener("click", function() {

    const form = document.getElementById("formEditarBM");
    const fd = new FormData(form);

    fetch("{% url 'editar_bm' bm.id %}", {
        method: "POST",
        body: fd,
        headers: {
            "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value
        }
    })
    .then(response => response.json())
    .then(data => {

        if (data.success) {
            bootstrap.Modal
                .getInstance(document.getElementById("editarBMModal"))
                .hide();

            location.reload();
        } else {
            alert("Erro ao salvar:\n" +
                Object.values(data.errors || {}).flat().join("\n")
            );
        }
    })
    .catch(error => {
        console.error("Erro:", error);
        alert("Erro inesperado ao salvar.");
    });

});
</script>
