{% extends "base.html" %}
{% load custom_tags %}

{% block content %}
<div class="container mt-4">
    <h2>Minuta do Boletim de Medição</h2>

    <p><strong>Contrato:</strong> {{ solicitacao.contrato }}</p>
    <p><strong>Fornecedor:</strong> {{ solicitacao.fornecedor_escolhido }}</p>

    {% if bm.minuta_boletim %}
        <p><a href="{{ bm.minuta_boletim.url }}" target="_blank" class="btn btn-secondary">📄 Visualizar Minuta</a></p>
    {% else %}
        <p class="text-danger">Nenhuma minuta inserida.</p>
    {% endif %}

    <h4>Status das aprovações</h4>
    <ul>
        <!-- <li>Líder de Contrato:
            {% if bm.status_coordenador == 'aprovado' %}
                <span class="badge bg-success">Aprovado</span>
            {% elif bm.status_coordenador == 'reprovado' %}
                <span class="badge bg-danger">Reprovado</span>
            {% else %}
                <span class="badge bg-secondary">Pendente</span>
            {% endif %}
        </li> -->
        <li>Gerência de Contrato:
            {% if bm.status_gerente == 'aprovado' %}
                <span class="badge bg-success">Aprovado</span>
            {% elif bm.status_gerente == 'reprovado' %}
                <span class="badge bg-danger">Reprovado</span>
            {% else %}
                <span class="badge bg-secondary">Pendente</span>
            {% endif %}
        </li>
    </ul>

    {% if request.user.grupo == "lider_contrato" or request.user.grupo == "gerente_lider" and request.user|shares_center_with:solicitacao.coordenador %}
    {% if bm.status_coordenador == 'pendente' %}
        <form method="post">
            {% csrf_token %}
            <button name="acao" value="aprovar" class="btn btn-success">Aprovar</button>
            <button name="acao" value="reprovar" class="btn btn-danger">Reprovar</button>
        </form>
    {% endif %}
    {% endif %}

    {% if request.user.grupo == "gerente_contrato" %}
        <form method="post">
            {% csrf_token %}
            <button name="acao" value="aprovar" class="btn btn-success">Aprovar</button>
            <button name="acao" value="reprovar" class="btn btn-danger">Reprovar</button>
        </form>
    {% endif %}
</div>
{% endblock %}
