{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    {% if request.user.grupo == 'suprimento' %}
        <h2>Solicitações de Prospecção - Suprimento</h2>
    {% elif request.user.grupo == 'gerente' %}
        <h2>Solicitações de Prospecção - Gerência</h2>
    {% else %}
        <h2>Minhas Solicitações de Prospecção</h2>
    {% endif %}

    {% if page_obj %}
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Contrato</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Previsto no Orçamento</th>
                    <th>Valor Provisionado</th>
                    <th>Status</th>
                    <th>Aprovação do Fornecedor - Gerência</th>
                    {% if request.user.grupo in 'suprimento,coordenador,gerente' %}
                        <th>Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for solicitacao in page_obj %}
                    <tr class="linha-hover" onclick="window.location='{% url 'detalhes_solicitacao' solicitacao.id %}'">
                        <td>{{ solicitacao.contrato }}</td>
                        <td>{{ solicitacao.descricao }}</td>
                        <td>{{ solicitacao.data_solicitacao|date:"d/m/Y H:i" }}</td>
                        <td>
                            {% if solicitacao.previsto_no_orcamento %}
                                <i class="bi bi-check-lg text-success fs-4"></i>
                            {% else %}
                                <i class="bi bi-x-lg text-danger fs-4"></i>
                            {% endif %}
                        </td>
                        <td>R$ {{ solicitacao.valor_provisionado|floatformat:2 }}</td>
                        <td>
                            {% if solicitacao.nenhum_fornecedor_ideal %}
                                Nenhum fornecedor é ideal
                            {% else %}
                                {{ solicitacao.status }}
                            {% endif %}
                        </td>
                        <td>
                            {% if solicitacao.status == "Fornecedor Selecionado" %}
                                <span class="badge bg-warning">Aguardando aprovação</span>
                            {% elif solicitacao.aprovacao_fornecedor_gerente == "aprovado" %}
                                <span class="badge bg-success">Aprovado</span>
                            {% elif solicitacao.aprovacao_fornecedor_gerente == "reprovado" %}
                                <span class="badge bg-danger">Reprovado</span>
                            {% else %}
                                <span class="badge bg-secondary">Pendente</span>
                            {% endif %}
                        </td>

                        <!-- AÇÕES -->
                        <td>
                            {% if request.user.grupo == 'suprimento' %}
                                {% if solicitacao.aprovado == None %}
                                    <a href="{% url 'aprovar_solicitacao' solicitacao.id 'aprovar' %}" class="btn btn-success btn-sm">Aprovar</a>
                                    <a href="{% url 'aprovar_solicitacao' solicitacao.id 'reprovar' %}" class="btn btn-danger btn-sm">Reprovar</a>
                                {% endif %}

                                {% if solicitacao.aprovado %}
                                    {% if solicitacao.triagem_realizada %}
                                        {% if not solicitacao.fornecedor_escolhido %}
                                            <a href="{% url 'triagem_fornecedores' solicitacao.id %}" class="btn btn-success btn-sm">Refazer Triagem</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{% url 'triagem_fornecedores' solicitacao.id %}" class="btn btn-primary btn-sm">Fazer Triagem</a>
                                    {% endif %}
                                {% endif %}

                                {% if solicitacao.aprovacao_fornecedor_gerente == 'aprovado' and not solicitacao.aprovacao_gerencia %}
                                  {% if solicitacao.minuta_boletins_medicao %}
                                    <a href="{% url 'inserir_minuta_bm' solicitacao.id %}" class="btn btn-warning">
                                      Revisar Minuta do BM
                                    </a>
                                  {% else %}
                                    <a href="{% url 'inserir_minuta_bm' solicitacao.id %}" class="btn btn-primary">
                                      Inserir Minuta do BM
                                    </a>
                                  {% endif %}
                                {% endif %}


                                {% if solicitacao.status == "Fornecedor aprovado" or solicitacao.status == "Planejamento do Contrato" %}
                                    {% with contrato=solicitacao.contrato_relacionado %}
                                        {% if contrato %}
                                            <a href="{% url 'cadastrar_contrato' solicitacao.id %}" class="btn btn-warning btn-sm">Revisar Contrato</a>
                                        {% else %}
                                            <a href="{% url 'cadastrar_contrato' solicitacao.id %}" class="btn btn-primary btn-sm">Cadastrar Contrato</a>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                            {% endif %}

                            {% if request.user.grupo == 'gerente' %}
                                {% with contrato=solicitacao.contrato_relacionado %}
                                    {% if contrato %}
                                        {% if not solicitacao.aprovacao_gerencia and not solicitacao.reprovacao_gerencia %}
                                            <!-- Nenhuma avaliação feita ainda -->
                                            <a href="{% url 'detalhes_contrato' solicitacao.id %}" class="btn btn-primary btn-sm">
                                                Avaliar Contrato
                                            </a>
                                        {% else %}
                                            <!-- Já houve aprovação ou reprovação -->
                                            <a href="{% url 'detalhes_contrato' solicitacao.id %}" class="btn btn-warning btn-sm">
                                                Reavaliar Contrato
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}
                                {% if solicitacao.minuta_boletins_medicao %}
                                    <a href="{% url 'detalhe_bm' solicitacao.minuta_boletins_medicao.id %}" class="btn btn-primary btn-sm">
                                        Avaliar Minuta BM
                                    </a>
                                {% endif %}
                            {% endif %}

                            {% if request.user.grupo == 'coordenador' %}
                              {% if solicitacao.triagem_realizada and solicitacao.status == "Triagem realizada" %}
                                <a href="{% url 'detalhes_triagem_fornecedores' solicitacao.id %}" class="btn btn-info btn-sm">Selecionar Fornecedor</a>
                              {% endif %}
                              {% if solicitacao.minuta_boletins_medicao %}
                                  <a href="{% url 'detalhe_bm' solicitacao.minuta_boletins_medicao.id %}" class="btn btn-primary btn-sm">
                                      Avaliar Minuta BM
                                  </a>
                              {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- PAGINAÇÃO -->
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">« Primeiro</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% endif %}
                <li class="page-item disabled"><a class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próximo</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Último »</a></li>
                {% endif %}
            </ul>
        </nav>
    {% else %}
        <p>Nenhuma solicitação encontrada.</p>
    {% endif %}
</div>
{% endblock %}
