{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Contratos com Clientes Cadastrados</h2>
    {% if user.grupo == "suprimento" %}
      <a href="{% url 'novo_contrato' %}" class="btn btn-custom">+ Adicionar Contrato</a>
    {% endif %}
</div>

<form method="get" class="mb-3 d-flex">
  <input type="text" name="search" value="{{ request.GET.search }}" class="form-control me-2" placeholder="Buscar contratos...">
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<table id="tabela-contrato" class="table table-striped">
    <thead>
        <tr>
            <th>Código do Projeto</th>
            <th>Coordenador</th>
            {% if user.grupo in "diretoria suprimento financeiro" %}
              <th>Centro</th>
            {% endif %}
            <th>Cliente</th>
            <th>Status</th>
          </tr>
    </thead>
    <tbody>
        {% for contrato in page_obj %}
          <tr class="linha-hover" onclick="window.location='{% url 'contrato_cliente_detalhe' contrato.pk %}'">
            <td>{{ contrato.cod_projeto }}</td>
            <td>{{ contrato.coordenador }}</td>
            {% if user.grupo in "diretoria suprimento financeiro" %}
            <td>
              {% for centro in contrato.coordenador.centros.all %}
                  {{ centro.nome }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
            {% endif %}
            <td>{{ contrato.cliente.nome }}</td>
            {% if contrato.status == 'ativo' %}
              <td>Ativo</td>
            {% elif contrato.status == 'suspenso' %}
              <td>Suspenso</td>
            {% elif contrato.status == 'aguardando_assinatura' %}
              <td>Aguardando assinatura</td>
            {% elif contrato.status == 'em_elaboracao' %}
              <td>Em elaboração</td>
            {% elif contrato.status == 'encerrado' %}
              <td>Encerrado</td>
            {% endif %}

          </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum contrato cadastrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Paginação -->
<nav aria-label="Navegação de páginas">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo; Primeiro</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
      </li>
    {% endif %}

    <li class="page-item disabled">
      <span class="page-link">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
      </span>
    </li>

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>


{% endblock %}
